<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="tags" class="Tags\Loop\Tags" />
    </loops>

    <services>
        <service id="tags.listener" class="Tags\EventListeners\EventManager">
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="Tags\Smarty\TagsPlugin">
            <tag name="thelia.parser.register_plugin"/>
        </service>
    </services>

    <hooks>
        <hook id="tags.menutools.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" method="onMainTopMenuTools" />
        </hook>

        <hook id="tags.product_edit.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="product.modification.form-right.bottom" type="back" method="onProductEditRightColumnBottom" />
        </hook>
        <hook id="tags.category_edit.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="category.modification.form-right.bottom" type="back" method="onCategoryEditRightColumnBottom" />
        </hook>
        <hook id="tags.content_edit.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="content.modification.form-right.bottom" type="back" method="onContentEditRightColumnBottom" />
        </hook>
        <hook id="tags.folder_edit.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="folder.modification.form-right.bottom" type="back" method="onFolderEditRightColumnBottom" />
        </hook>
        <hook id="tags.brand_edit.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="brand.modification.form-right.bottom" type="back" method="onBrandEditRightColumnBottom" />
        </hook>

        <hook id="tags.image_edit.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="image.edit-js" type="back" method="addTagFieldJs" />
        </hook>
        <hook id="tags.image_edit_tpl.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="image-edit.bottom" type="back" method="hiddenTagTemplate" />
        </hook>

        <hook id="tags.document_edit.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="document.edit-js" type="back" method="addTagFieldJs" />
        </hook>
        <hook id="tags.document_edit_tpl.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="document-edit.bottom" type="back" method="hiddenTagTemplate" />
        </hook>

        <hook id="tags.configuration.hook" class="Tags\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
        </hook>

    </hooks>
</config>
